.elementor-7 .elementor-element.elementor-element-07fc20f .raven-heading-title,
.elementor-7 .elementor-element.elementor-element-07fc20f .raven-heading-title-inner {
	color: #000000;
	-webkit-text-fill-color: initial;
}

.elementor-7 .elementor-element.elementor-element-07fc20f .raven-heading {
	font-family: "Poppins", Sans-serif;
	font-weight: normal;
	line-height: 1em;
}

.elementor-7 .elementor-element.elementor-element-07fc20f>.elementor-widget-container {
	margin: 0px 0px -20px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-33f1919 .raven-heading-title,
.elementor-7 .elementor-element.elementor-element-33f1919 .raven-heading-title-inner {
	color: #000000;
	-webkit-text-fill-color: initial;
}

.elementor-7 .elementor-element.elementor-element-33f1919 .raven-heading {
	font-family: "Poppins", Sans-serif;
	font-size: 36px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-33f1919>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__container {
	justify-content: flex-start;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__instance {
	border-radius: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-normal {
	padding: 9px 9px 9px 9px;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-hover {
	padding: 9px 9px 9px 9px;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__plane-normal {
	background-color: #ED6323;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #C65019;
	border-radius: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__plane-hover {
	background-color: #000000;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-normal .jet-button__icon {
	font-size: 14px;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-hover .jet-button__icon {
	font-size: 14px;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-normal .jet-button__label {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-hover .jet-button__label {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-normal .jet-button__label {
	font-family: "Poppins", Sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__state-hover .jet-button__label {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.elementor-7 .elementor-element.elementor-element-286f606>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
}

.elementor-7 .elementor-element.elementor-element-286f606>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-a21e1f9 .elementor-spacer-inner {
	height: auto;
}

.elementor-7 .elementor-element.elementor-element-c4a9c9a:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-7 .elementor-element.elementor-element-c4a9c9a>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-c4a9c9a>.elementor-element-populated,
.elementor-7 .elementor-element.elementor-element-c4a9c9a>.elementor-element-populated>.elementor-background-overlay,
.elementor-7 .elementor-element.elementor-element-c4a9c9a>.elementor-background-slideshow {
	border-radius: 4px 4px 4px 4px;
}

.elementor-7 .elementor-element.elementor-element-c4a9c9a>.elementor-element-populated {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 20px 0px 20px;
	padding: 30px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-c4a9c9a>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-08f0f92 {
	text-align: center;
}

.elementor-7 .elementor-element.elementor-element-08f0f92 .elementor-heading-title {
	color: #050708;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-49617c9 .wpcf7 span.wpcf7-not-valid-tip {
	text-align: left;
	display: block;
}

.elementor-7 .elementor-element.elementor-element-49617c9 .wpcf7 div.wpcf7-response-output {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-dcb2d82>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 20px 0px;
}

.elementor-7 .elementor-element.elementor-element-dcb2d82>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-4daff85:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-4daff85>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF00;
}

.elementor-7 .elementor-element.elementor-element-4daff85>.elementor-background-overlay {
	background-image: url("{% static 'user_management/img/background-1st-fold.png' %}");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: auto;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-4daff85 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	/* margin-top: 0px;
	margin-bottom: 0px;
	padding: 60px 0px 0px 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-2ad46c3.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-7 .elementor-element.elementor-element-2ad46c3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-7 .elementor-element.elementor-element-2ad46c3.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-2ad46c3>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 40px 40px 40px 40px;
}

.elementor-7 .elementor-element.elementor-element-286bf4b.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-286bf4b.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-286bf4b.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-286bf4b .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-7 .elementor-element.elementor-element-286bf4b .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-286bf4b .elementor-image-box-title {
	color: #131313;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-286bf4b .elementor-image-box-description {
	color: #131313;
}

.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-9aeac16.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-7 .elementor-element.elementor-element-9aeac16.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-7 .elementor-element.elementor-element-9aeac16.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-9aeac16>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 40px 40px 40px 40px;
}

.elementor-7 .elementor-element.elementor-element-3836a56.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-3836a56.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-3836a56.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-3836a56 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-7 .elementor-element.elementor-element-3836a56 .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-3836a56 .elementor-image-box-title {
	color: #131313;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-3836a56 .elementor-image-box-description {
	color: #131313;
}

.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-e1dd32a.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-7 .elementor-element.elementor-element-e1dd32a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-7 .elementor-element.elementor-element-e1dd32a.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-e1dd32a>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 40px 40px 40px 40px;
}

.elementor-7 .elementor-element.elementor-element-e523af3.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-e523af3.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-e523af3.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-e523af3 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 26%;
}

.elementor-7 .elementor-element.elementor-element-e523af3 .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-e523af3 .elementor-image-box-title {
	color: #131313;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-e523af3 .elementor-image-box-description {
	color: #131313;
}

.elementor-7 .elementor-element.elementor-element-0376d03 {
	text-align: center;
}

.elementor-7 .elementor-element.elementor-element-0376d03 .elementor-heading-title {
	color: #1D1D1D;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-a5a063d .raven-heading-title,
.elementor-7 .elementor-element.elementor-element-a5a063d .raven-heading-title-inner {
	color: #525252;
	-webkit-text-fill-color: initial;
}

.elementor-7 .elementor-element.elementor-element-a5a063d .raven-heading {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1em;
}

.elementor-7 .elementor-element.elementor-element-a5a063d>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-d9aeb0b>.elementor-background-overlay {
	background-color: #F1F1F1;
	opacity: 1;
}

.elementor-7 .elementor-element.elementor-element-d9aeb0b {
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 45px 0px 5px 0px;
}

.elementor-7 .elementor-element.elementor-element-17957b8 {
	text-align: right;
	z-index: 6;
}

.elementor-7 .elementor-element.elementor-element-17957b8 img {
	width: 83%;
}

.elementor-7 .elementor-element.elementor-element-17957b8>.elementor-widget-container {
	margin: 0px -55px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-e38cadd:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-7 .elementor-element.elementor-element-e38cadd>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-e38cadd>.elementor-element-populated,
.elementor-7 .elementor-element.elementor-element-e38cadd>.elementor-element-populated>.elementor-background-overlay,
.elementor-7 .elementor-element.elementor-element-e38cadd>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-7 .elementor-element.elementor-element-e38cadd>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 30px 10px 30px;
	padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-e38cadd>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-de92f47 .jet-animated-text {
	justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-de92f47 .jet-animated-text__animated-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-de92f47 .jet-animated-text__animated-text-item:after {
	background-color: #ED6323;
}

.elementor-7 .elementor-element.elementor-element-de92f47>.elementor-widget-container {
	margin: -49px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-f4a3c2d img {
	width: 35%;
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(15px/2);
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(15px/2);
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(15px/2);
	margin-left: calc(15px/2);
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-15px/2);
	margin-left: calc(-15px/2);
}

body.rtl .elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-15px/2);
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-15px/2);
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-icon i {
	color: #000000;
	font-size: 15px;
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-icon svg {
	fill: #000000;
	width: 15px;
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-text {
	color: #000000;
}

.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-item,
.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-item a {
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-58d7ea5>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 45px;
}

.elementor-7 .elementor-element.elementor-element-1ccdbd9 .jet-animated-text {
	justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-1ccdbd9 .jet-animated-text__before-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-1ccdbd9 .jet-animated-text__animated-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-1ccdbd9 .jet-animated-text__after-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-11c6e20 {
	text-align: right;
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-78a7d90 {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-61370a7 .elementor-spacer-inner {
	height: 10px;
}

.elementor-7 .elementor-element.elementor-element-9ad0ea7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-7 .elementor-element.elementor-element-9ad0ea7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-9ad0ea7>.elementor-element-populated,
.elementor-7 .elementor-element.elementor-element-9ad0ea7>.elementor-element-populated>.elementor-background-overlay,
.elementor-7 .elementor-element.elementor-element-9ad0ea7>.elementor-background-slideshow {
	border-radius: 20px 20px 20px 20px;
}

.elementor-7 .elementor-element.elementor-element-9ad0ea7>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 10px 30px 10px 30px;
	padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-9ad0ea7>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-8f50d37 .jet-animated-text {
	justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-8f50d37 .jet-animated-text__animated-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-8f50d37 .jet-animated-text__animated-text-item:after {
	background-color: #ED6323;
}

.elementor-7 .elementor-element.elementor-element-8f50d37>.elementor-widget-container {
	margin: -49px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-7cce18b img {
	width: 35%;
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(15px/2);
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(15px/2);
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(15px/2);
	margin-left: calc(15px/2);
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-15px/2);
	margin-left: calc(-15px/2);
}

body.rtl .elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-15px/2);
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-15px/2);
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-icon i {
	color: #000000;
	font-size: 15px;
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-icon svg {
	fill: #000000;
	width: 15px;
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-text {
	color: #000000;
}

.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-item,
.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-item a {
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-f9228e1>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 45px;
}

.elementor-7 .elementor-element.elementor-element-04de830 .jet-animated-text {
	justify-content: center;
}

.elementor-7 .elementor-element.elementor-element-04de830 .jet-animated-text__before-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-04de830 .jet-animated-text__animated-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-04de830 .jet-animated-text__after-text {
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-d4a2551 {
	text-align: right;
	color: #000000;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-d1eb39a {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-c259bb8 .elementor-spacer-inner {
	height: 10px;
}

.elementor-7 .elementor-element.elementor-element-a4a4f60:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-a4a4f60>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F1F1F1;
}

.elementor-7 .elementor-element.elementor-element-a4a4f60 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 30px 0px 45px 0px;
}

.elementor-7 .elementor-element.elementor-element-a4a4f60>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-083853c {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-c933216 .elementor-heading-title {
	color: #1D1D1D;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(7px/2);
	margin-left: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-7px/2);
	margin-left: calc(-7px/2);
}

body.rtl .elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-7px/2);
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-7px/2);
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-icon i {
	color: #ED6323;
	font-size: 16px;
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-icon svg {
	fill: #ED6323;
	width: 16px;
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-text {
	color: #333333;
}

.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-item,
.elementor-7 .elementor-element.elementor-element-099f987 .elementor-icon-list-item a {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-59f6e36 {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-d1765dd .elementor-heading-title {
	color: #1D1D1D;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(7px/2);
	margin-left: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-7px/2);
	margin-left: calc(-7px/2);
}

body.rtl .elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-7px/2);
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-7px/2);
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-icon i {
	color: #ED6323;
	font-size: 16px;
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-icon svg {
	fill: #ED6323;
	width: 16px;
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-text {
	color: #333333;
}

.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-item,
.elementor-7 .elementor-element.elementor-element-560987b .elementor-icon-list-item a {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-390ecda {
	text-align: left;
}

.elementor-7 .elementor-element.elementor-element-4f9d000 .elementor-heading-title {
	color: #1D1D1D;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(7px/2);
	margin-left: calc(7px/2);
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-7px/2);
	margin-left: calc(-7px/2);
}

body.rtl .elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-7px/2);
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-7px/2);
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-icon i {
	color: #ED6323;
	font-size: 16px;
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-icon svg {
	fill: #ED6323;
	width: 16px;
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-text {
	color: #333333;
}

.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-item,
.elementor-7 .elementor-element.elementor-element-0284bee .elementor-icon-list-item a {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-276a824 {
	padding: 45px 0px 45px 0px;
}

.elementor-7 .elementor-element.elementor-element-5ac98e0 .raven-heading-title,
.elementor-7 .elementor-element.elementor-element-5ac98e0 .raven-heading-title-inner {
	color: #000000;
	-webkit-text-fill-color: initial;
}

.elementor-7 .elementor-element.elementor-element-5ac98e0 .raven-heading {
	font-family: "Poppins", Sans-serif;
	font-size: 36px;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-5ac98e0>.elementor-widget-container {
	padding: 0px 0px 0px 500px;
}

.elementor-7 .elementor-element.elementor-element-64c03d2 {
	text-align: left;
	color: #7B7B7B;
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-64c03d2>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 500px;
}

.elementor-7 .elementor-element.elementor-element-252ad90 {
	text-align: center;
	color: #ED6323;
	font-family: "Poppins", Sans-serif;
	font-weight: 500;
}

.elementor-7 .elementor-element.elementor-element-13b6f22:not(.elementor-motion-effects-element-type-background),
.elementor-7 .elementor-element.elementor-element-13b6f22>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F1F1F1;
}

.elementor-7 .elementor-element.elementor-element-13b6f22>.elementor-background-overlay {
	background-image: url("https://seo3.cryscampus.com/itrans/wp-content/uploads/2021/06/edit-transcript-bg.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 46% auto;
	opacity: 1;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-13b6f22 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 30px 0px 30px 0px;
}

.elementor-7 .elementor-element.elementor-element-38c8ad5 {
	text-align: center;
}

.elementor-7 .elementor-element.elementor-element-38c8ad5 .elementor-heading-title {
	color: #1D1D1D;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-f2a6ac7>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-7 .elementor-element.elementor-element-e5a5a81.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-e5a5a81.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-e5a5a81.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-e5a5a81 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-7 .elementor-element.elementor-element-e5a5a81 .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-e5a5a81 .elementor-image-box-title {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-e5a5a81 .elementor-image-box-description {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-8d3e397>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-7 .elementor-element.elementor-element-b66dbfb.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-b66dbfb.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-b66dbfb.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-b66dbfb .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-7 .elementor-element.elementor-element-b66dbfb .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-b66dbfb .elementor-image-box-title {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-b66dbfb .elementor-image-box-description {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-522e7fa>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-7 .elementor-element.elementor-element-6404000.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-6404000.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-6404000.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-6404000 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 27%;
}

.elementor-7 .elementor-element.elementor-element-6404000 .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-6404000 .elementor-image-box-title {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-6404000 .elementor-image-box-description {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-a5268ca>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-7 .elementor-element.elementor-element-5021e5c.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-5021e5c.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-5021e5c.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-5021e5c .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-7 .elementor-element.elementor-element-5021e5c .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-5021e5c .elementor-image-box-title {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-5021e5c .elementor-image-box-description {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-5022fd4>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-7 .elementor-element.elementor-element-4f9baa9.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-4f9baa9.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-4f9baa9.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-4f9baa9 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%;
}

.elementor-7 .elementor-element.elementor-element-4f9baa9 .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-4f9baa9 .elementor-image-box-title {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-4f9baa9 .elementor-image-box-description {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-a15b377>.elementor-element-populated {
	padding: 30px 30px 30px 30px;
}

.elementor-7 .elementor-element.elementor-element-235bbb9.elementor-position-right .elementor-image-box-img {
	margin-left: 15px;
}

.elementor-7 .elementor-element.elementor-element-235bbb9.elementor-position-left .elementor-image-box-img {
	margin-right: 15px;
}

.elementor-7 .elementor-element.elementor-element-235bbb9.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px;
}

.elementor-7 .elementor-element.elementor-element-235bbb9 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 23%;
}

.elementor-7 .elementor-element.elementor-element-235bbb9 .elementor-image-box-img img {
	transition-duration: 0.3s;
}

.elementor-7 .elementor-element.elementor-element-235bbb9 .elementor-image-box-title {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 600;
}

.elementor-7 .elementor-element.elementor-element-235bbb9 .elementor-image-box-description {
	color: #282828;
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-fb7841a {
	padding: 45px 0px 45px 0px;
}

.elementor-7 .elementor-element.elementor-element-d527b05 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 45px 0px;
}

.elementor-7 .elementor-element.elementor-element-a1401aa>.elementor-element-populated>.elementor-background-overlay {
	background-image: url("https://seo3.cryscampus.com/itrans/wp-content/uploads/2021/06/for-jounralist.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	opacity: 1;
}

.elementor-7 .elementor-element.elementor-element-a1401aa>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	padding: 030px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-a1401aa>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-5518e13 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4em;
}

.elementor-7 .elementor-element.elementor-element-5518e13>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 30px 0px 0px 90px;
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(6px/2);
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(6px/2);
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(6px/2);
	margin-left: calc(6px/2);
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-6px/2);
	margin-left: calc(-6px/2);
}

body.rtl .elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-6px/2);
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-6px/2);
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-icon i {
	color: #FFFFFF;
	font-size: 14px;
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	width: 14px;
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-text {
	color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-item,
.elementor-7 .elementor-element.elementor-element-6b40a70 .elementor-icon-list-item a {
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-6b40a70>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 90px;
}

.elementor-7 .elementor-element.elementor-element-7361b01 .elementor-spacer-inner {
	height: 105px;
}

.elementor-7 .elementor-element.elementor-element-a7ea0b0>.elementor-element-populated>.elementor-background-overlay {
	background-image: url("https://seo3.cryscampus.com/itrans/wp-content/uploads/2021/06/for-podcast.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
}

.elementor-7 .elementor-element.elementor-element-a7ea0b0>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 0px;
	padding: 30px 0px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-a7ea0b0>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7 .elementor-element.elementor-element-7544e50 {
	text-align: right;
}

.elementor-7 .elementor-element.elementor-element-7544e50 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4em;
}

.elementor-7 .elementor-element.elementor-element-7544e50>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 30px 90px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(6px/2);
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(6px/2);
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(6px/2);
	margin-left: calc(6px/2);
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-6px/2);
	margin-left: calc(-6px/2);
}

body.rtl .elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-6px/2);
}

body:not(.rtl) .elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-6px/2);
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-icon i {
	color: #FFFFFF;
	font-size: 14px;
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-icon svg {
	fill: #FFFFFF;
	width: 14px;
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-text {
	color: #FFFFFF;
}

.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-item,
.elementor-7 .elementor-element.elementor-element-5ec7f51 .elementor-icon-list-item a {
	font-family: "Poppins", Sans-serif;
	font-weight: 400;
}

.elementor-7 .elementor-element.elementor-element-5ec7f51>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 90px 0px 0px;
}

.elementor-7 .elementor-element.elementor-element-e193759 .elementor-spacer-inner {
	height: 105px;
}

.elementor-7 .elementor-element.elementor-element-ac1ce3d {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

@media(max-width:1024px) {
	.elementor-7 .elementor-element.elementor-element-4daff85>.elementor-container {
		min-height: 566px;
	}
	/* .elementor-7 .elementor-element.elementor-element-0e36e04>.elementor-element-populated {
		margin: 14px 0px 0px 0px;
	} */
	.elementor-7 .elementor-element.elementor-element-07fc20f .raven-heading {
		font-size: 18px;
		line-height: 1.7em;
	}
	.elementor-7 .elementor-element.elementor-element-33f1919 .raven-heading {
		font-size: 20px;
	}
	.elementor-7 .elementor-element.elementor-element-4daff85 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 75px 20px 0px 20px;
	}
	.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-item,
	.elementor-7 .elementor-element.elementor-element-58d7ea5 .elementor-icon-list-item a {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-58d7ea5>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 15px;
	}
	.elementor-7 .elementor-element.elementor-element-1ccdbd9 .jet-animated-text__before-text {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-1ccdbd9 .jet-animated-text__animated-text {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-1ccdbd9 .jet-animated-text__after-text {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-11c6e20 {
		text-align: left;
	}
	.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-item,
	.elementor-7 .elementor-element.elementor-element-f9228e1 .elementor-icon-list-item a {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-f9228e1>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 15px;
	}
	.elementor-7 .elementor-element.elementor-element-04de830 .jet-animated-text__before-text {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-04de830 .jet-animated-text__animated-text {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-04de830 .jet-animated-text__after-text {
		font-size: 14px;
	}
	.elementor-7 .elementor-element.elementor-element-d4a2551 {
		text-align: left;
	}
	.elementor-7 .elementor-element.elementor-element-a1401aa>.elementor-element-populated>.elementor-background-overlay {
		background-position: bottom right;
		background-size: cover;
	}
	.elementor-7 .elementor-element.elementor-element-5518e13>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 10px;
	}
	.elementor-7 .elementor-element.elementor-element-6b40a70>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 10px;
	}
	.elementor-7 .elementor-element.elementor-element-7361b01 .elementor-spacer-inner {
		height: 10px;
	}
	.elementor-7 .elementor-element.elementor-element-a7ea0b0>.elementor-element-populated>.elementor-background-overlay {
		background-size: cover;
	}
	.elementor-7 .elementor-element.elementor-element-7544e50>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-5ec7f51>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 10px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-e193759 .elementor-spacer-inner {
		height: 10px;
	}
}

@media(max-width:767px) {
	.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-0e36e04.elementor-column .elementor-widget-wrap {
		align-items: center;
	}
	.elementor-7 .elementor-element.elementor-element-0e36e04.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}
	.elementor-7 .elementor-element.elementor-element-0e36e04.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}
	.elementor-7 .elementor-element.elementor-element-0e36e04>.elementor-element-populated {
		padding: 0px 0px 50px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-6f4817d .jet-button__container {
		justify-content: center;
	}
	.elementor-7 .elementor-element.elementor-element-c4a9c9a>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 15px 0px 15px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-08f0f92 {
		text-align: center;
	}
	.elementor-7 .elementor-element.elementor-element-08f0f92>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 8px 0px 8px;
	}
	.elementor-7 .elementor-element.elementor-element-49617c9>.elementor-widget-container {
		margin: 0px -8px -8px -8px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-4daff85 {
		padding: 30px 20px 0px 20px;
	}
	.elementor-7 .elementor-element.elementor-element-286bf4b .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-3836a56 .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-e523af3 .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-0376d03 .elementor-heading-title {
		line-height: 1.6em;
	}
	.elementor-7 .elementor-element.elementor-element-0376d03>.elementor-widget-container {
		padding: 0px 10px 0px 10px;
	}
	.elementor-bc-flex-widget .elementor-7 .elementor-element.elementor-element-f179975.elementor-column .elementor-widget-wrap {
		align-items: center;
	}
	.elementor-7 .elementor-element.elementor-element-f179975.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
		align-content: center;
		align-items: center;
	}
	.elementor-7 .elementor-element.elementor-element-f179975.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}
	.elementor-7 .elementor-element.elementor-element-f179975>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-17957b8>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-9bf7597 {
		width: 50%;
	}
	.elementor-7 .elementor-element.elementor-element-26c9ff2 {
		width: 50%;
	}
	.elementor-7 .elementor-element.elementor-element-bda8a08 {
		width: 50%;
	}
	.elementor-7 .elementor-element.elementor-element-d648057 {
		width: 50%;
	}
	.elementor-7 .elementor-element.elementor-element-043e918>.elementor-element-populated {
		padding: 30px 30px 30px 30px;
	}
	.elementor-7 .elementor-element.elementor-element-6110a6d>.elementor-element-populated {
		padding: 30px 30px 30px 30px;
	}
	.elementor-7 .elementor-element.elementor-element-772de71>.elementor-element-populated {
		padding: 30px 30px 30px 30px;
	}
	.elementor-7 .elementor-element.elementor-element-5ac98e0>.elementor-widget-container {
		padding: 0px 0px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-64c03d2 {
		text-align: center;
	}
	.elementor-7 .elementor-element.elementor-element-64c03d2>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-e5a5a81 .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-b66dbfb .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-6404000 .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-5021e5c .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-4f9baa9 .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-235bbb9 .elementor-image-box-img {
		margin-bottom: 15px;
	}
	.elementor-7 .elementor-element.elementor-element-a1401aa {
		width: 100%;
	}
	.elementor-7 .elementor-element.elementor-element-a1401aa>.elementor-element-populated>.elementor-background-overlay {
		background-position: center right;
		background-size: cover;
	}
	.elementor-7 .elementor-element.elementor-element-a1401aa>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 10px 0px 10px 22px;
	}
	.elementor-7 .elementor-element.elementor-element-5518e13>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-6b40a70>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-7 .elementor-element.elementor-element-a7ea0b0>.elementor-element-populated>.elementor-background-overlay {
		background-size: cover;
	}
	.elementor-7 .elementor-element.elementor-element-a7ea0b0>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 10px 0px 0px 20px;
	}
	.elementor-7 .elementor-element.elementor-element-7544e50 {
		text-align: left;
	}
}

@media(min-width:768px) {
	.elementor-7 .elementor-element.elementor-element-0e36e04 {
		width: 39.687%;
	}
	.elementor-7 .elementor-element.elementor-element-286f606 {
		width: 10.266%;
	}
	.elementor-7 .elementor-element.elementor-element-c4a9c9a {
		width: 38.564%;
	}
	.elementor-7 .elementor-element.elementor-element-dcb2d82 {
		width: 11.378%;
	}
	.elementor-7 .elementor-element.elementor-element-ad398c5 {
		width: 25%;
	}
	.elementor-7 .elementor-element.elementor-element-dd6db21 {
		width: 49.333%;
	}
	.elementor-7 .elementor-element.elementor-element-298c04f {
		width: 25%;
	}
	.elementor-7 .elementor-element.elementor-element-acd6de0 {
		width: 25%;
	}
	.elementor-7 .elementor-element.elementor-element-c7fa7b7 {
		width: 49.333%;
	}
	.elementor-7 .elementor-element.elementor-element-37e37b3 {
		width: 25%;
	}
	.elementor-7 .elementor-element.elementor-element-a1401aa {
		width: 50%;
	}
	.elementor-7 .elementor-element.elementor-element-a7ea0b0 {
		width: 50%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-7 .elementor-element.elementor-element-c4a9c9a {
		width: 50%;
	}
}

@media(min-width:1025px) {
	.elementor-7 .elementor-element.elementor-element-4daff85>.elementor-background-overlay {
		background-attachment: scroll;
	}
	.elementor-7 .elementor-element.elementor-element-13b6f22>.elementor-background-overlay {
		background-attachment: scroll;
	}
	.elementor-7 .elementor-element.elementor-element-a7ea0b0>.elementor-element-populated>.elementor-background-overlay {
		background-attachment: scroll;
	}
}