{% extends "base-setup.html" %}
{% load static %}
{% load i18n %}


{% block content %}

<div class="container-narrow">
    <form class="form-horizontal" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
    	{% csrf_token %}
        <fieldset>
            <legend>Change </legend>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Submit" />
          	<input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>
{% endblock %}
