<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<div style="margin:0">
        <table cellpadding="0" cellspacing="0" width="100%" height="30px" align="center" valign="top" style="background-color:#fff">
        </table>
        <table cellpadding="0" cellspacing="0" width="100%" height="30px" align="center" valign="top" style="background-color:#fff">
            <tbody><tr>
                <td>
                    <table width="700" align="center" cellpadding="0" cellspacing="0" valign="top" style="backgroun:#fff;                      opacity: 1;
                          transition: background .3s,border-radius .3s,opacity .3s !important;;font-family:'arial';font-size:16px;color:#000;border-width:1px;border-style:solid;border-color:#000;padding:2.5em;line-height:20px">
                        <tbody><tr>
                            <td height="16"></td>
                        </tr>
                        <tr>
                            <td>
                                <table cellpadding="0" cellspacing="0" valign="top" width="100%">
                                    <tbody><tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" valign="top" width="100%">
                                                <tbody><tr>
                                                    <td width="30" style="background-color:#E86229 repeat-y left top"></td>
                                                    <td>
                                                        <table cellpadding="0" cellspacing="0" valign="top" width="96%">
                                                            <tbody><tr>
                                                                <td style="color:#8dc53e;font-size:12px;font-family:'arial';line-height:20px">
                                                                    <table cellpadding="0" cellspacing="0" valign="top" width="100%">
                                                                        <tbody><tr>
                                                                            <td></td>
                                                                            <td width="28" valign="top" align="left"></td>
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>

                                                            <tr height="20px">
                                                                <td><img alt="Logo" style="display:block;" src="https://cdn-cicel.nitrocdn.com/lgdlPJfqPREoELXPVWGtbovRMTskFYNz/assets/static/optimized/rev-1f1e1f2/wp-content/uploads/2021/06/logo-itrans.png" class="CToWUd"><br><br>
                                                                    <div style="border-bottom:1px solid #E86229" width="100%"></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" style="padding-top:8px;font-size:22px;color:#000;line-height:30px"><br>Welcome to iTrans
                                                                <br>
                                                                <br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table>
                                                                        <tbody><tr>
                                                                            <td style="line-height:24px">We are excited to have you with us.
                                                                                <br>
                                                                                <br>
                                                                                <br>
                                                                            </td>
                                                                        </tr>


                                                                        <tr>
                                                                            <td style="line-height:20px">
                                                                                <p>Thank you,</p>
                                                                                <p>Your iTrans team</p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
            <tr>
                <td height="30px" style="font-family:'arial';text-align:center;font-size:12px;color:#aaa;border-width:1px">

                </td>
            </tr>
            <tr>
                <td height="30px" style="font-family:'arial';text-align:center;font-size:12px;color:#aaa;border-width:1px"></a>
                </td>
            </tr>
        </tbody></table><div class="yj6qo"></div><div class="adL">
    </div></div>

</head>
<body>

</body>
</html>