{% extends 'global_settings/base.html' %}

{% block extra_style %}
    <style>
        .no_segment_bg{
            background-color: #f5f5f5 !important;
        }
        .no_border{
            border: none !important;
        }
        #newHeading{
            margin-top: 100px !important;
        }
        #id_mug_shot{
            padding-left: 0px !important;
            border: none !important;
        }
        .segment_spacing{
            padding: 25px !important;
            border-radius: 0px !important;
        }
        .ui.top.attached.segment{
            background-color: #0c4da2 !important;
            color: #fff !important;
            border-radius: 0px !important;
        }
        .right_segment .ui.header{
            float: none !important;
            margin-bottom: 30px !important;
        }

        @media screen and (min-width: 320px) and (max-width: 767px){
            .ui.bottom.segment.attached.center.aligned.no_border {
                margin-bottom: 5px !important;
            }
        }
        .button_background{
            background-color: #F2711C!important;
        }

        .list_viewTable thead tr th{
            background-color: #adadad !important;

        }

    </style>
{% endblock %}

{% block body %}
    {% if user.is_superuser%}

    <div class="right_segment" style="margin-top: 100px;">  
        <div class="ui header">
            <h1 id="mainTitle">
                <span> RBAC Preference Group List </span>
                 <a style="color: #fff; background-color: #0c4da2;" href="/rbac_preferences/create_rbac_perferences_group/" class="ui right floated small button labeled icon"><i class="icon plus"></i>Create</a>
            </h1>   
        </div>
        
        <div class="table-container ui form mini ">
            <table id="dataTableView" class="ba-table list_viewTable dataTable no-footer" style="padding: 0px !important;">
                <thead>
                    <tr>
                        <th>Sequence</th>
                        <th>Group</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in response %}
                        <tr>
                            <td>{{data.sequence }}</td>
                            <td>{{ data.group }}</td>
                            <td>                              
                                <div class="action_btn_dots ui icon right pointing dropdown button white">
                                    <i class="dot"></i>
                                    <div class="menu">
                                        <a href="/rbac_preferences/update_rbac_perferences/{{ data.id }}" data-action="edit" class="item" data-nametrigger="course">Edit</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
       
    </div>
    {% else %}
        {% include "forbidden.html" %}
    {% endif %}
{% endblock %}