{% extends 'better_admin/base_better_admin.html' %}
{% load bootstrap_toolkit %}
{% load usr_perm %}

{% block page_header %}

<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="/home">Home</a> <span class="divider">/</span>
                </li>
                <li>
                    <li class="active">Permission Groups Update</li>
                </li>
            </ul>
        </div>
    </div>
</div>
<h2>Permission Groups Update</h2>
{% endblock %}

{% block content %}
    {% get_user_perm "can_change_permissiongroup" as perm_flag %}{% if perm_flag %}
        <div class="container-narrow">
            <form action="{{ request.get_full_path }}" class="form-horizontal" enctype="multipart/form-data" id="zform" method="POST">
                {% csrf_token %}
                {% include 'permissions/permissiongroup_form.html' %}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                    <a href="./">Cancel</a>
                </div>
            </form>
        </div>
    {% else %}
        {% include 'access_denied_default.html' %}
    {% endif %}
{% endblock %}
