{% extends "base-setup.html" %}
{% load static %}
{% block extrahead %}
<style>
  nav{
    display: none!important;
  }
  body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url("{% static 'user_management/img/background-1st-fold.png' %}");
        background-position: top right;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 0!important;
    }
    .card{
        /* background-image: linear-gradient( 90deg,#420255 0%,#a0357b 100%);box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22); */
            background: #fff;
            color: black;
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
          padding: 2rem 1rem;
    }
    .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: transparent;
     border-bottom: 0px solid transparent;
     text-align: center;
}
  </style>
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid logo mb-4" src="{% static 'user_management/img/logo.png' %}" alt="Logo">
  
    
      <p> We've Emailed you instructions for setting your password,
         if an account exists with the Email you entered. You should receive them shortly.
        If you don't receive an Email, please make sure you've 
        entered the address you registered with, and check your spam folder.</p>      

        <div class="card-body">
          <a href="/accounts/login/" class="btn btn-sm btn-warning">Login</a>
          <a href="/user_management/password-reset/" class="btn btn-sm btn-dark">Back</a>
        
        </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>

<!-- <div class="content-wrapper" style="foreground-color:red;">
  <div class="container">
    <div class="jumbotron">

<div class="card card-default">

 <div class="card-header">
            <h2 class="card-title"></h2>
              </div>
    <form method="post">
        <div class="card-body">

    <p class="p-width">
       
    </p>
        </div></form>
</div></div>
  </div>
</div> -->
{% endblock %}