{% extends "base-setup.html" %}
{% load static %}
{% block extrahead %}
<style>
     body{
      background-image: url("{% static 'user_management/img/background-1st-fold.png' %}");
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position-y: top;
    background-position-x: right;
   }
 
</style>
{% endblock %}

{% block content %}
<main id="jupiterx-main" class="jupiterx-main">
  <div data-elementor-type="wp-post" data-elementor-id="7" class="elementor elementor-7"
     data-elementor-settings="[]">
     <div class="elementor-section-wrap">
        <section
           class="elementor-section elementor-top-section elementor-element elementor-element-4daff85 elementor-section-stretched elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
           data-id="4daff85" data-element_type="section"
           data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
        
           <div class="elementor-container elementor-column-gap-default">
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-0e36e04"
                 data-id="0e36e04" data-element_type="column">
                 <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-07fc20f elementor-mobile-align-center elementor-align-left elementor-widget elementor-widget-raven-heading"
                       data-id="07fc20f" data-element_type="widget"
                       data-widget_type="raven-heading.default">
                       <img class="img-fluid mb-5" src="{% static 'user_management/setup/img/logo-itrans.png' %}">
                       <div class="elementor-widget-container">
                          <div class="raven-widget-wrapper">
                             <h3 class="raven-heading raven-heading-h3"><span
                                class="raven-heading-title">Speech to text transcription
                                in</span>
                             </h3>
                          </div>
                       </div>
                    </div>
                    <div class="elementor-element elementor-element-33f1919 elementor-mobile-align-center elementor-align-left elementor-widget elementor-widget-raven-heading"
                       data-id="33f1919" data-element_type="widget"
                       data-widget_type="raven-heading.default">
                       <div class="elementor-widget-container">
                          <div class="raven-widget-wrapper">
                             <h1 class="raven-heading raven-heading-h1"><span
                                class="raven-heading-title">5 minutes Advanced
                                speech recognition
                                software</span>
                             </h1>
                          </div>
                       </div>
                    </div>
                    <!-- <div class="elementor-element elementor-element-6f4817d floating-btn elementor-widget elementor-widget-jet-button"
                       data-id="6f4817d" data-element_type="widget"
                       data-widget_type="jet-button.default">
                       <div class="elementor-widget-container">
                           <div class="elementor-jet-button jet-elements">
                               <div class="jet-button__container">
                                   <a class="jet-button__instance jet-button__instance--icon-left hover-effect-9"
                                       href="#">
                                       <div class="jet-button__plane jet-button__plane-normal"></div>
                                       <div class="jet-button__plane jet-button__plane-hover"></div>
                                       <div class="jet-button__state jet-button__state-normal">
                                           <span class="jet-button__icon jet-elements-icon"><i
                                                   aria-hidden="true"
                                                   class="fas fa-download"></i></span><span
                                               class="jet-button__label">Select Audio/Video File</span>
                                       </div>
                                       <div class="jet-button__state jet-button__state-hover">
                                           <span class="jet-button__icon jet-elements-icon"><i
                                                   aria-hidden="true"
                                                   class="fas fa-upload"></i></span><span
                                               class="jet-button__label">Upload File</span>
                                       </div>
                                   </a>
                               </div>
                           </div>
                       </div>
                       </div> -->
                 </div>
              </div>
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-286f606"
                 data-id="286f606" data-element_type="column"
                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                 <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-a21e1f9 elementor-hidden-phone elementor-widget elementor-widget-spacer"
                       data-id="a21e1f9" data-element_type="widget" data-widget_type="spacer.default">
                       <div class="elementor-widget-container">
                          <div class="elementor-spacer">
                             <div class="elementor-spacer-inner"></div>
                          </div>
                       </div>
                    </div>
                   
                 </div>
              </div>
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-c4a9c9a animated-slow elementor-invisible"
                 data-id="c4a9c9a" data-element_type="column"
                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;slideInRight&quot;}">
                 <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-08f0f92 elementor-widget elementor-widget-heading"
                       data-id="08f0f92" data-element_type="widget" data-widget_type="heading.default">
                       <div class="elementor-widget-container">
                          <h2 class="elementor-heading-title elementor-size-default">Reset Password
                          </h2>
                       </div>
                    </div>
                    <div class="elementor-element elementor-element-49617c9 elementor-widget elementor-widget-contact-form-7"
                       data-id="49617c9" data-element_type="widget"
                       data-widget_type="contact-form-7.default">
                       <div class="elementor-widget-container">
                          <div class="elementor-contact-form-7 jet-elements">
                             <div role="form" class="wpcf7" id="wpcf7-f448-p7-o1" lang="en-US"
                                dir="ltr">
                                <div class="screen-reader-response">
                                   <p role="status" aria-live="polite" aria-atomic="true"></p>
                                   <ul></ul>
                                </div>
                                <form  method="POST">
                                  
                                   <div class="contact-form-row">
                                      <div class="custom_inputs-first">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                      </div>
                                     
                                      
                                      <div class="custom_inputs">
                                         <input type="submit" value="Reset Password"
                                            class="wpcf7-form-control wpcf7-submit btn-submit" />
                                      </div>
                                   </div>
                                   <div class="wpcf7-response-output" aria-hidden="true"></div>
                                </form>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-dcb2d82 elementor-hidden-tablet"
                 data-id="dcb2d82" data-element_type="column"
                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                 <div class="elementor-widget-wrap">
                 </div>
              </div>
           </div>
        </section>
     </div>
  </div>
</main>
  
     
      

   
        
{% endblock %}